<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Weather Test Suite">
	<test name="Check Weather">
	<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.tv.testcases.WeatherTest" />			
		</classes>
	</test>

</suite> 
